
@media screen and (min-width: 2000px)
  .bao
    &__wrapper
      transform: scale(1.2)
      z-index: 4

@media screen and (max-width: 1920px) and (max-height: 1062px)
  .bao
    &__wrapper
      top: -55px
    .parallax
      &__layer
        .item-2
          top: 152px
          right: 29%


@media screen and (max-width: 1920px) and (max-height: 1000px)
  .bao
    &__wrapper
      transform: scale(0.9)
      transform-origin: top center
      top: -20px
      z-index: 4
    .parallax
      &__layer
        &-item
          transform: scale(0.9)
        .item-1
          transform: translateX(-50%) scale(0.9)
        .item-2
          transform: translateX(50%) scale(0.9)
          top: 152px
        .item-3
          transform: translateX(-50%) scale(0.9)
        .item-4
          transform: translateX(-50%) scale(0.9)
        .item-5
          transform: translateX(-50%) scale(0.9)
        .item-7
          transform: translateX(-50%) scale(0.9)


@media screen and (max-width: 1680px)
  .bao
    &__logo
      left: 97px
    .parallax
      &__layer
        .item-2
          top: 147px
          right: 27%
        .item-3
          right: -19px
        .item-4
          top: 56%
        .item-5
          top: 70%
          right: 190px

@media screen and (max-width: 1600px) and (max-height: 905px)
  .bao
    &__wrapper
      transform: scale(0.8)
      transform-origin: top center
      top: 43px
      z-index: 4
    .parallax
      &__layer
        &-item
          transform: scale(0.8)
        .item-1
          transform: translateX(-50%) scale(0.8)
          left: 58%
        .item-2
          transform: translateX(50%) scale(0.8)
          top: 152px
          right: 34%
        .item-3
          transform: translateX(-50%) scale(0.8)
        .item-4
          transform: translateX(-50%) scale(0.8)
        .item-5
          transform: translateX(-50%) scale(0.8)
        .item-7
          transform: translateX(-50%) scale(0.8)


@media screen and (max-width: 1600px) and (max-height: 850px)
  .bao
    .parallax
      &__layer
        .item-2
          top: 102px
          right: 36%



@media screen and (max-width: 1600px) and (max-height: 800px)
  .bao
    &__wrapper
      transform: scale(0.7)
      transform-origin: top center
      top: 83px
      z-index: 4
    .parallax
      &__layer
        .item-2
          transform: translateX(50%) scale(0.65)


@media screen and (max-width: 1366px) and (max-height: 1025px)
  .bao
    .left-img
      width: 430px
      height: 345px
    .right-img
      width: 319px
      height: 277px
    &__title
      font-size: 46px
      line-height: 52px
      margin: 30px 0 10px 0
      &::after
        width: 195px
        height: 72px
        top: -80px
    &__text
      font-size: 22px
      line-height: 27px
      margin: 0 0 24px 0
    &__link
      font-size: 20px
      line-height: 25px
      padding: 22px 70px 17px
      margin: 0 0 130px 0
    &__footer
      transform: translateX(-50%) scale(0.8)
    &__logo
      max-width: 153px
      top: 35px
      left: 80px
    .parallax
      &__layer
        &-item
          transform: scale(0.65)
        .item-1
          transform: translateX(-50%) scale(0.65)
          left: 64%
        .item-2
          transform: translateX(50%) scale(0.65)
          top: 152px
          right: 34%
        .item-3
          transform: translateX(-50%) scale(0.65)
          right: -109px
          top: 30%
        .item-4
          transform: translateX(-50%) scale(0.65)
        .item-5
          transform: translateX(-50%) scale(0.65)
        .item-6
          bottom: -123px
          left: 14px
        .item-7
          transform: translateX(-50%) scale(0.65)
          top: 108px
          left: 15%




@media screen and (max-width: 1366px) and (max-height: 778px)
  .bao
    &__wrapper
      top: 67px
      transform: scale(0.8)
    .parallax
      &__layer
        .item-2
          top: 79px
    &__footer
      bottom: 20px
      transform-origin: bottom
      transform: translateX(-50%) scale(0.7)


@media screen and (max-width: 1366px) and (max-height: 690px)
  .bao
    &__wrapper
      top: 120px
      transform: scale(0.7)
    .parallax
      &__layer
        .item-1
          transform: translateX(-50%) scale(0.55)
          left: 59%
          top: -100px
        .item-2
          transform: translateX(50%) scale(0.55)
          top: 79px
          right: 37%

@media screen and (max-width: 1366px) and (max-height: 625px)
  .bao
    &__wrapper
      top: 169px
      transform: scale(0.6)
    .parallax
      &__layer
        .item-2
          transform: translateX(50%) scale(0.45)
          top: 79px
          right: 39%




@media screen and (max-width: 1280px)
  .bao
    &__wrapper
      top: 67px
      transform: scale(0.8)
    .parallax
      &__layer
        .item-2
          top: 79px
    &__footer
      bottom: 20px
      transform-origin: bottom
      transform: translateX(-50%) scale(0.7)

@media screen and (max-width: 1280px) and (max-height: 690px)
  .bao
    &__wrapper
      top: 120px
      transform: scale(0.7)
    .parallax
      &__layer
        .item-1
          transform: translateX(-50%) scale(0.55)
          left: 59%
          top: -100px
        .item-2
          transform: translateX(50%) scale(0.55)
          top: 79px
          right: 37%

@media screen and (max-width: 1280px) and (max-height: 650px)
  .bao
    &__wrapper
      top: 169px
      transform: scale(0.6)
    .parallax
      &__layer
        .item-2
          transform: translateX(50%) scale(0.45)
          top: 79px
          right: 39%

@media screen and (max-width: 1024px) and (orientation: landscape)
  .bao
    .left-img
      top: -10px
      left: -150px
    .right-img
      top: -20px
      right: -55px
    &__logo
      max-width: 124px
      top: 25px
      left: 25px
    .parallax
      &__layer
        .item-1
          transform: translateX(-50%) scale(0.55)
          left: 63%
        .item-2
          transform: translateX(50%) scale(0.5)
          top: 92px
          right: 30%
        .item-3
          transform: translateX(-50%) scale(0.55)
          right: -184px
          top: 30%
        .item-4
          transform: translateX(-50%) scale(0.55)
          right: -116px
          top: 51%
        .item-5
          transform: translateX(-50%) scale(0.65)
          top: 64%
          right: 15px
        .item-6
          transform: scale(0.5)
          bottom: -149px
          left: -34px
        .item-7
          transform: translateX(-50%) scale(0.55)
          top: 58px
          left: 9%






/*************************************TABLET******************************************/

@media screen and (max-width: 1024px) and (orientation: portrait)
  .bao
    .parallax
      &__layer
        .item-1
          transform: translateX(-50%) scale(0.6)
          top: 41px
          left: 63%
        .item-2
          transform: translateX(50%) scale(0.65)
          top: 275px
          right: 26%
        .item-3
          transform: translateX(-50%) scale(0.55)
          right: -249px
          top: 30%
        .item-4
          display: none
        .item-5
          top: 57%
          right: -109px
        .item-6
          display: none
        .item-7
          transform: translateX(-50%) scale(0.65)
          top: 182px
          left: 2%

    .left-img
      top: -34px
      left: -257px
    .right-img
      top: -20px
      right: -55px
    &__logo
      max-width: 145px
      top: 30px
      left: 50%
      transform: translateX(-50%)
    &__wrapper
      transform: scale(0.9)
      top: -59px
    &__title
      font-size: 52px
      line-height: 56px
    &__info
      margin-top: 97px
      bottom: -145px
    &__link
      position: relative
      z-index: 40







@media screen and (max-width: 920px) and (orientation: portrait)
  .bao
    &__rulet
      right: 56px

