.bao
    .bao__logo
        img(src='img/logo.svg' alt='logo')
    .bao__wrapper
        .bao__pic
            .parallax#scene
                    .parallax__layer(data-depth="0.3")
                        .parallax__layer-item.item-1
                    .parallax__layer(data-depth="0.4")
                        .parallax__layer-item.item-2
                    .parallax__layer(data-depth="0.2")
                        .parallax__layer-item.item-3
                    .parallax__layer(data-depth="0.1")
                        .parallax__layer-item.item-4
                    .parallax__layer(data-depth="0.4")
                        .parallax__layer-item.item-5
                    .parallax__layer(data-depth="0.3")
                        .parallax__layer-item.item-6
                    .parallax__layer(data-depth="0.2")
                        .parallax__layer-item.item-7
                    .parallax__layer(data-depth="0.1")
                        .parallax__layer-item.item-8
                    .parallax__layer(data-depth="0.4")
                        .parallax__layer-item.item-9
                    .parallax__layer(data-depth="0.3")
                        .parallax__layer-item.item-10
                    .parallax__layer(data-depth="0.2")
                        .parallax__layer-item.item-11
                    .parallax__layer(data-depth="0.1")
                        .parallax__layer-item.item-12
                    .parallax__layer(data-depth="0.4")
                        .parallax__layer-item.item-13
            .bao__rulet

                picture.bao__rulet-img
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/rulet-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/rulet-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/rulet-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/rulet-desc.png")
                    img(src="img/rulet-desc.png" alt="Favbet")
            .bao__womans-wrapper
                .bao__womans.bao__womans-1
                    picture.bao__wom1
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/wom1-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/wom1-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/wom1-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/wom1-desc.png")
                        img(src="img/wom1-desc.png" alt="Favbet")
                .bao__womans.bao__womans-2
                    picture.bao__wom2
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/wom2-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/wom2-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/wom2-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/wom2-desc.png")
                        img(src="img/wom2-desc.png" alt="Favbet")
                .bao__womans.bao__womans-3
                    picture.bao__wom3
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/wom3-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/wom3-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/wom3-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/wom3-desc.png")
                        img(src="img/wom3-desc.png" alt="Favbet")
                .bao__womans.bao__womans-4
                    picture.bao__wom1
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/wom1-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/wom1-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/wom1-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/wom1-desc.png")
                        img(src="img/wom1-desc.png" alt="Favbet")

        .bao__info
            .bao__title Over 500 #[br] live games #[br] at Bao casino
            .bao__text Play and interact with live dealers
            a(href='https://www.baocasino.com/').bao__link Play in Live Games
            .bao__footer
                img(src='img/visa.svg' alt='visa')
                img(src='img/maestro.svg' alt='maestro')
                img(src='img/mastercard.svg' alt='mastercard')
                img(src='img/skrill.svg' alt='skrill')
                img(src='img/18plus.svg' alt='18plus')




